﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="~/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link asp-href-include="~/MyStyle.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark ">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Lab 5</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ">
                <a asp-action="index" asp-controller="" class="nav-item nav-link">Product</a>
                <a asp-action="index" asp-controller="Supplier" class="nav-item nav-link">Supplier</a>

            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
    <script asp-src-include="~/dist/jquery/jquery.min.js"></script>
    <script asp-src-include="~/dist/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
