﻿@page
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizeService
@{
}

 @if ((await authorizeService.AuthorizeAsync(User, "admin")).Succeeded)
            {
                <h2 class="text-center text-success">Welcome to admin panel!</h2>
                 <div>
                @Html.ActionLink("Show  registered users", "Users", new {},new { @class = "btn btn-danger", @style = "color:white" })
                 </div>  
            }
            else
            {
                <h2 class="text-center text-danger">Credentials supplied are not sufficient to access this page!!!</h2>
            }
