﻿@page
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizeService
@{
}
 @if ((await authorizeService.AuthorizeAsync(User, "role")).Succeeded)
            {
                <a  asp-controller="Home" asp-action="Open" class="btn btn-primary">Open ToDo (Only for registered users) </a>
              <br/>
              <br/>

              <a asp-controller="Home" asp-action="Admin" class="btn btn-danger"> Admin panel </a>
            }
            else
            {
                <h2 class="text-center">You must login or register to view this page</h2>
            }

