﻿@model SupplierViewModelDropDownList
@{
    ViewData["Title"] = "Create";
}

@if (Model.Supplier.Count() ==0)
{
    <div class="text-center mt-1" >
        <h1 class=" text-danger"> Create New Supplier First Before Product </h1>
        <a class="btn btn-primary mb-4" asp-controller="Supplier" asp-action="Create"> Create New Supplier</a>
    </div>
}
else
{
    <div class="container m-5">
        <h1 class="h2Style"> Create Product</h1>
        <form asp-action="Create" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Product.Category"></label>
                <input asp-for="Product.Category" class="form-control" />
                <span asp-validation-for="Product.Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Supplier"></label>
                <select class="custom-select" asp-for="Product.SupplierId" asp-items="@Model.Supplier">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
            </div>
            <div>
                <button class="btn btn-primary"> Save </button>
                <a asp-action="index" class="btn btn-secondary"> Cancel </a>

            </div>
        </form>
    </div>
}