﻿@model SupplierViewModelDropDownList
@{
    ViewData["Title"] = "Edit Product";
}


    <div class="container m-5">
        <h2 class="h2Style">Edit products </h2>
        <div>
            <form asp-action="Edit" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.Name"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Product.Category"></label>
                    <input asp-for="Product.Category" class="form-control" />
                    <span asp-validation-for="Product.Category" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Supplier"></label>
                    <select class="custom-select" asp-for="Product.SupplierId" asp-items="@Model.Supplier">
                        <option value="">Select</option>
                    </select>
                    <span asp-validation-for="Product.SupplierId" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Product.Id" value="@Model.Product.Id" />
                <div>
                    <button class="btn btn-primary"> Edit </button>
                    <a asp-action="index" class="btn btn-secondary"> Cancel </a>

                </div>
            </form>

        </div>
    </div>