﻿@model IEnumerable<Product>
@{
    ViewData["Title"] = "List Products";
}

@if (Model.Count() == 0)
{
    <div class="text-center">
        <h2 > Empty products  </h2>
        <a class="btn btn-primary mb-4" asp-action="Create"> Create new Product</a>
    </div>
}
else
{

    <div class="container  mt-4 mb-5">
        <h2 class="h2Style">All products </h2>
        <a class="btn btn-primary mb-4" asp-action="Create"> Create new Product</a>
        <div>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Supplier Name</th>
                        <td></td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Product p in Model)
                    {
                        <tr class="border-bottom ">
                            <td>@p.Id</td>
                            <td>@p.Name</td>
                            <td>@p.Category</td>
                            <td>@p.Price</td>
                            <td>@p.Supplier.Name</td>
                            <td>
                                <form method="post" asp-action="Delete">
                                    <a asp-action="Edit" asp-route-id="@p.Id" style="min-width:71.63px" class="btn btn-primary">Edit</a>
                                    <button class="btn btn-danger"> Delete </button>
                                    <input type="hidden" name="id" value="@p.Id" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


    </div>
}