﻿@model Supplier
@{
    ViewData["Title"] = "Create Supplier";
}


    <div class="container  mt-4 mb-5">
        <h2 class="h2Style">Create A Supplier </h2>
        <div asp-validation-summary="All" class="text-danger"  ></div>
        <form method="post" asp-action="Create">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <button class="btn btn-primary"> Save </button>
            <a class="btn btn-secondary" asp-action="index" asp-controller="Supplier"> Cancel</a>
        </form>
    </div>

