﻿@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "List of Suppliers";
}

@if (Model.Count() == 0)
{
    <div class="text-center">
        <h2> Empty Supplier  </h2>
        <a class="btn btn-primary mb-4 " asp-action="Create"> Create New Supplier</a>
    </div>
}
else { 
    <div class="container  mt-4 mb-5">
        <h2 class="h2Style">All Suppliers </h2>
        <a class="btn btn-primary mb-4 " asp-action="Create"> Create New Supplier</a>
        <div class="">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Product Count</th>
                        <th> Operation(Edit/Delete) affected to Product </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Supplier p in Model)
                    {
                        <tr class="border-bottom ">
                            <td>@p.Id</td>
                            <td>@p.Name</td>
                            <td>@p.City</td>
                            <td>@p.Country</td>
                            <td>
                                <a class="btn btn-link" asp-route-id="@p.Id" asp-action="ViewProducts"><span class="text-primary font-weight-bold">(@p.Products.Count())</span>  </a>
                            </td>
                            <td>
                                <form method="post" asp-action="Delete">
                                    <a asp-action="Edit" asp-route-id="@p.Id" style="min-width:71.63px" class="btn btn-primary">Edit</a>
                                    <button class="btn btn-danger"> Delete </button>
                                    <input type="hidden" name="id" value="@p.Id" />
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    }