﻿@model IEnumerable<Product>
@{
    ViewData["Title"] = "List of Product";
}
    <div class="container mt-4 mb-5">
        <h1 class="h2Style">All Products By Supplier <span class="text-danger font-weight-bold">@ViewBag.SuuplierName</span> </h1>


        @if (Model.Count() == 0)
        {
            <h2 class="text-center bg-danger"> No Product </h2>
        }
        else
        {


            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {

                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Category</td>
                            <td>@product.Price</td>

                        </tr>

                    }
                </tbody>


            </table>

        }
        <a asp-action="Index" class="btn btn-secondary"> back To Suppliers</a>
    </div>

