@model Lab1.Models.TodosViewModel 

@{
    ViewData["Title"] = "Todos";
}

<h1>Todo list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <select asp-for="State" asp-items="Model.States"> 
            <option value="">All</option> 
        </select>

        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].IsComplete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TodoItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
                @if (!item.IsComplete)
                {
                    <td class="text-danger">Not done</td>
                } else {
                    <td class="text-success">Done</td>
                }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
