﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Open <a href="~/Home/Todo">web page</a>.</p>
    <p>Open <a href="~/Home/Items">JSON</a>.</p>
    <p><a href="~/Home/Download">Download file</a>.</p>
</div>
