﻿@{
    ViewData["Title"] = "ToDo List";
}
<h1>@ViewData["Title"]</h1>

<body>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        @foreach (var task in Model)
            {
            <tr scope="row">
                <td>@task.Name</td>
                <td>@task.IsComplete</td>
            </tr>
        }
    </table>
</body>