﻿@model List<TodoItem>
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-right">
        @Html.ActionLink("Show all", "Index", new { sortOrder = "all"}, new { @class = "btn btn-primary", @style = "color:white" })
        @Html.ActionLink("Not done", "Index", new { sortOrder = "notdone"}, new { @class = "btn btn-danger"})
        @Html.ActionLink("Done", "Index", new { sortOrder = "done"}, new { @class = "btn btn-success"})
    </div>

    <table class="text-center table table-striped">
        <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        @{var tasksDone=0;}
        @foreach (var task in Model)
        {
            <tr scope="row">
                <td>@task.Name</td>
                 @if (!task.IsComplete)
                {
                    <td class="text-danger">Not done</td>
                } else {
                    tasksDone++;
                    <td class="text-success">Done</td>
                }
            </tr>
        }
    </table>
     @if (tasksDone == @Model.Count)
    {
        <h2 class="text-center text-light bg-success">All tasks is completed.</h2>
    } else if (tasksDone == 0) {
        <h2 class="text-center text-light bg-danger">This tasks is not completed.</h2>
    } else {
        <h2 class="text-center text-light bg-primary">@tasksDone of @Model.Count tasks is completed.</h2>
    }
    
  </div>  
</body>